.Card {
    background-color: white;
    height: 35vh;
    width: 10vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.Card img {
    height: 18vh;
    width: auto;
    border-radius: 5px;
}

.category {
    font-weight: 200;
    font-size: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.name {
    font-size: 3vh;
    margin: 0;
    padding-bottom: 6px;
}

.Card button {
    border-style: none;
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 2vh;
}

p {
    font-size: 2vh;
    margin: 0;
    padding-bottom: 1.5vh;
}