.Home {
  display: flex;
  justify-content: center;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.column {
  box-sizing: border-box;
}
